<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                    Accueil
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </div>
                    Vos Impressions
                </a>
                {% if request.user.role == 'ADMIN' %}
                    <div class="sb-sidenav-menu-heading">ADMINISTRATION</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        Imprimante
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/printers/create">Ajouter</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Details</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        Utilisateur
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayout" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/create-user">Ajouter</a>
                            <a class="nav-link" href="/users">Liste</a>
                        </nav>
                    </div>
                {% endif %}
                <div class="sb-sidenav-menu-heading">Besoin d'aide</div>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fa fa-question-circle"></i></div>
                    Aide
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:
                {% if user.is_authenticated %}
                <strong>{{ user.role }} !</strong>
                {% else %}
                <strong>
                    {{ user.username }}
                </strong>
                {% endif %}
            </div>
        </div>
    </nav>
</div>