/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #009579;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  height: 60px; /* Même hauteur que les autres champs */
  width: 100%; /* Prend toute la largeur */
  padding: 0 15px; /* Padding à l'intérieur du champ */
  font-size: 17px; /* Taille de la police */
  margin-bottom: 1.3rem; /* Espacement entre les champs */
  border: 1px solid #ddd; /* Bordure standard */
  border-radius: 6px; /* Coins arrondis */
  outline: none; /* Pas de contour sur focus */
}

.input-group button {
  height: 60px; /* Aligner la hauteur avec le champ de mot de passe */
  border: none; /* Pas de bordure */
  background: transparent; /* Fond transparent */
  cursor: pointer; /* Curseur pointer */
  display: flex; /* Centrer l'icône */
  align-items: center; /* Centrer verticalement */
  padding: 0 10px; /* Padding latéral */
}

.input-group button:focus {
  outline: none; /* Pas de contour sur focus */
}