{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom block for page title   -->
    {% block title %}
      <title> 
      </title>
    {% endblock %}

    {% block css_style %}
    <link rel="stylesheet" href="{% static 'css/Hompage.css' %}">
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


  </head>
  <body>
    
    <!-- Custom block for content of body -->
    {% block content %}{% endblock %}

    {% block js_script %}{% endblock %}
</body>
</html>