{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Bienvenue sur PrintManager</title>
{% endblock %}
<body>
    {% block content %}
        <!-- Afficher les messages -->
        {% if messages %}
        <div class="mt-3" id="alert-box">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h1>hello word !!</h1>
    {% endblock %}

    {% block js_script %}
    <script>
        setTimeout(function () {
            var alertBox = document.getElementById('alert-box');
            if (alertBox) {
                alertBox.style.display = 'none';
            }
        }, 10000); // 10000 ms = 10 secondes
        console.log('hello')
    </script>
    {% endblock %}
</body>
