{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>formulaire d'édition</title>
{% endblock %}
<body>
    {% block content %}
    {% include 'layouts/Navbar.html' %}
    <div id="layoutSidenav">
        {% include 'layouts/Sidenav.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Editer les informations</h1>
                        <hr class="border border-primary border-2 opacity-50">
                        <div class="row">
                            <div class="col-6 mx-auto">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                                    <button type="submit" class="btn btn-warning">
                                        <a style="text-decoration: none; color: #000;" href="/dashboard">
                                            Retour
                                        </a>
                                    </button>
                                </form>
                            </div>
                        </div>
                </div>
            </main>
            {% include 'layouts/footer.html' %}
        </div>
    </div>
    {% endblock %}
</body>